{% load markdown %}
{% load user_display %}
<section class="comments">
	<h2>Comments</h2>
	<table class="classic">
	{% for comment in comments %}
	<tr
		{% if comment.is_system %}
		class="system"
		{% elif comment.testsolve_session %}
		class="testsolve"
		{% elif comment.author.is_author %}
		class="by-author"
		{% endif %}
	>
		{% with comment.id as id %}
		<td id="comment-{{ id }}">
			<a href="#comment-{{ id }}" class="comment-id">(#{{ comment.id }})</a>
			{% user_display comment.author %}
			<div class="date">@ <span class="timestamp" data-timestamp="{{ comment.date.timestamp }}">{{ comment.date }}</span></div>
			{% if comment.is_system %} (system){% endif %}
			{% if show_testsolve_session_links and comment.testsolve_session %} (<a href="{% url "testsolve_one" comment.testsolve_session.id %}">testsolve session {{ comment.testsolve_session.id }}</a>){% endif %}
			{% if comment.author.is_current_user and not comment.is_system %}(<a href="{% url "edit_comment" comment.id %}">edit</a>){% endif %}
		</td>
		{% endwith %}
		<td>{{ comment.content|markdown }}</td>
	</tr>
	{% endfor %}
	</table>

	<form method="post">
		{% csrf_token %}
		{{ comment_form }}
		<input type="submit" name="add_comment" value="Add Comment">
	</form>
</section>
