{% load user_list %}
{% load markdown %}
{% if sessions %}
<div class="table-wrap">
<table class="classic sortable">
	<tr>
		<th>Session</th>
		<th>Puzzle</th>
		<th>Summary</th>
		<th>Puzzle Priority</th>
		<th>Participants</th>
		<th>Done</th>
		<th>Created</th>
		<th>Last Comment</th>
		{% if show_notes %}
			<th>Notes</th>
		{% endif %}
		{% if show_ratings %}
			<th>Fun</th>
			<th>Diff.</th>
		{% endif %}
		{% if show_leave %}
			<th></th>
		{% endif %}
	</tr>
	{% for session in sessions %}
		{% with session.puzzle as puzzle %}
		<tr>
			<td sorttable_customkey="{{ session.id }}"><a href="{% url 'testsolve_one' session.id %}">Session {{ session.id }}</a>{% if session.is_author %}<div>(you are an author)</div>{% elif session.is_spoiled %}<div>(you are spoiled)</div>{% endif %}</td>
			<td sorttable_customkey="{{ puzzle.id }}">{% if session.is_spoiled %}{{ puzzle.html_link }}{% else %}{{ puzzle.html_display }}{% endif %}</td>
			<td class="small-md">{{ puzzle.summary|markdown }}</td>
			<td sorttable_customkey="{{ puzzle.priority }}">{{ puzzle.get_priority_display }}</td>
			<td>{{ session.participants_html }}</td>
			<td>{{ session.get_done_participants_display }}</td>
			<td sorttable_customkey="{{ session.started.timestamp }}" class="timestamp"
				data-timestamp="{{ session.started.timestamp }}">{{ session.started }}</td>
			<td sorttable_customkey="{{ session.last_comment_date.timestamp }}" class="timestamp"
				data-timestamp="{{ session.last_comment_date.timestamp }}">{{ session.last_comment_date }}</td>
			{% if show_notes %}
				<td class="small-md">{{ session.notes|markdown }}</td>
			{% endif %}
			{% if show_ratings %}
				<td>{{ session.fun_rating|default:"n/a" }}</td>
				<td>{{ session.difficulty_rating|default:"n/a" }}</td>
			{% endif %}
			{% if show_leave %}
				<td><a href="{% url 'testsolve_finish' session.id %}">Finish or Leave</a></td>
			{% endif %}
		</tr>
		{% endwith %}
	{% endfor %}
</table>
</div>
{% else %}
<div class="empty">No sessions to list</div>
{% endif %}
