{% load static %}
{% load countdown %}
{% load nav_link %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static "css/general.css" %}">
		<link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
		<title>{% block title %}Puzzlord{% endblock %}</title>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet"> 
			
	</head>
	<body>
		<nav id="nav-menu">
			{% block nav %}
			{% with request.path as current_path %}
			<div class="nav-links">
				<a href="/"><img class="logo" src="{% static 'puzzlord-logo.png' %}" alt="Puzzlord"/></a>
				{% nav_link current_path 'new' 'New Puzzle' %}
				{% nav_link current_path 'authored' 'Your Puzzles' %}
				{% nav_link current_path 'testsolve_main' 'Testsolve' %}
				{% nav_link current_path 'factcheck' 'Factcheck' %}
				{% nav_link current_path 'postprod' 'Postprod' %}
				{% nav_link current_path 'all' 'All Puzzles' %}
				{% if perms.puzzle_editing.change_round %}
				{% nav_link current_path 'awaiting_editor' 'Awaiting Editor' %}
				{% nav_link current_path 'rounds' 'Rounds/Answers' %}
				{% endif %}
				{% nav_link current_path 'users' 'Users' %}
				{% nav_link current_path 'tags' 'Tags' %}
				{% nav_link current_path 'statistics' 'Statistics' %}
				<button id="menu-button" type="button" class="menu-button">&#9776;</button>
			</div>
			{% endwith %}
			<div class="nav-second">
				<div class="nav-countdown">
					{% countdown %}
				</div>
				<select id="theme" class="theme">
					<option value="classic">light</option>
					<option value="dark">dark</option>
				</select>
				<div class="nav-login">
				{% if request.user.is_authenticated %}
				Logged in as <a href="{% url 'account' %}">{{ request.user.username }}</a><br/>
				<a class="logout" href="{% url 'logout' %}">Logout</a>
				{% else %}
				<a class="login" href="{% url 'login' %}">Login</a> or
				<a class="register" href="{% url 'register' %}">Register</a>
				{% endif %}
				</div>
			</div>
			{% endblock %}
		</nav>
		{% block outer_main %}
		<main>
			{% block main %}{% endblock %}
		</main>
		{% endblock %}
		<script type="text/javascript">
			document.querySelectorAll(".toggle-show").forEach((node) => {
				const target = document.getElementById(node.dataset.target);
				node.addEventListener('click', () => {
					if (target.classList.contains('hidden')) {
						target.classList.remove('hidden');
						node.dataset.reshow = node.innerText;
						node.innerText = node.dataset.rehide;
					} else {
						target.classList.add('hidden');
						node.innerText = node.dataset.reshow;
					}
				});
			});

			const currentTheme = localStorage.getItem("theme") || "classic";
			document.documentElement.setAttribute('data-theme', currentTheme);
			const themeSelect = document.getElementById("theme");
			themeSelect.value = currentTheme;
			themeSelect.addEventListener("change", (event) => {
				const value = event.target.value;
				document.documentElement.setAttribute('data-theme', value);
				localStorage.setItem("theme", value);
			});

			const navMenu = document.getElementById('nav-menu');
			navMenu.classList.add('nav-menu-collapsed'); // by default but not if JS
			document.getElementById('menu-button').addEventListener('click', (event) => {
				if (navMenu.classList.contains('nav-menu-collapsed')) {
					navMenu.classList.remove('nav-menu-collapsed');
				} else {
					navMenu.classList.add('nav-menu-collapsed');
				}
			});

			document.querySelectorAll(".timestamp").forEach((node) => {
				// thanks, canada
				node.textContent = new Date(Number(node.dataset.timestamp) * 1000).toLocaleString('en-CA');
				node.setAttribute('title', 'Automatically converted to your time zone');
			});

			document.querySelectorAll('.markdown-preview-toggle').forEach((node) => {
				const textarea = node.parentNode.nextSibling;
				const preview = textarea.nextSibling;
				console.log(textarea);
				console.log(preview);

				node.addEventListener('click', () => {
					if (preview.classList.contains('hidden')) {
						preview.classList.remove('hidden');
						textarea.classList.add('hidden');

						preview.textContent = "Loading...";

						fetch('/preview_markdown', {
							method: 'POST',
							body: textarea.value,
						}).then((response) => response.json()).then((json) => {
							console.log(json);
							if (json.success) {
								preview.innerHTML = json.output;
							} else {
								preview.textContent = "Error: " + json.error;
							}
						}).catch((error) => {
							preview.textContent = "Error: " + error;
						});
					} else {
						textarea.classList.remove('hidden');
						preview.classList.add('hidden');
					}
				});
			});

			document.querySelectorAll('.user-checkbox-select-multiple').forEach((node) => {
				const textbox = node.firstChild;
				const display = textbox.nextSibling;
				const list = display.nextSibling;

				textbox.value = "";

				const handler = () => {
					let query = textbox.value.toLowerCase();
					let total = 0;
					let shown = 0;
					list.querySelectorAll('.user-option').forEach((node) => {
						total++;
						if (node.textContent.toLowerCase().indexOf(query) !== -1) {
							shown++;
							node.classList.remove('hidden');
						} else {
							node.classList.add('hidden');
						}
					});
					if (shown === total) {
						display.textContent = "";
					} else {
						display.textContent = `Showing ${shown} of ${total}`;
					}
				};

				textbox.addEventListener('change', handler);
				textbox.addEventListener('keyup', handler);
			});

			// This is hacky but I couldn't figure out how to do it in the markdown engine
			var links = document.links;

			for (var i = 0, linksLength = links.length; i < linksLength; i++) {
			if (links[i].hostname != window.location.hostname) {
				links[i].target = '_blank';
			}
			}
		</script>
		<script src="{% static 'sorttable.js' %}"></script>
		{% block extrajs %}{% endblock %}
	</body>
</html>
