{% extends "base.html" %}
{% block title %}
New Puzzle
{% endblock %}
{% block main %}
<h1>New Puzzle</h1>
<form action="/new" method="post">
	{% csrf_token %}
	<table class="classic">
		{% for field in form %}
			<tr>
				<td class="label-cell">
				{{ field.errors }}
				{{ field.label_tag }}
				{% if field.help_text %}
				<p class="help">{{ field.help_text|safe }}</p>
				{% endif %}
				</td>
				<td>
				{{ field }}
				</td>
			</tr>
		{% endfor %}
	</table>
	<input type="submit" value="Submit">
</form>
{% endblock %}
