{% load markdown %}
<p>{% if is_system %}
System message (on behalf of {{ author.display_name|default:author }}):
{% else %}
{{ author.display_name|default:author }} wrote:
{% endif %}</p>

{{ content|markdown }}

{% if status_change %}
<p>
Status changed to {{ status_change }}
</p>
{% endif %}

<p>
Puzzle: {{ request.scheme }}://{{ request.get_host }}{% url 'puzzle' puzzle.id %}
</p>
{% if testsolve_session %}
<p>
Testsolve session: {{ request.scheme }}://{{ request.get_host }}{% url 'testsolve_one' testsolve_session.id %}
</p>
{% endif %}
