{% extends "base.html" %}
{% load user_list %}
{% load comment_list %}
{% load markdown %}
{% block title %}
	{{ puzzle.spoiler_free_title }}
{% endblock %}
{% block outer_main %}
<div class="puzzle-outer">
	<h1 class="puzzle-title">
		{{ puzzle.spoilery_title }}
		<a href="{% url 'puzzle_edit' puzzle.id %}" class="edit-link">Edit</a>
	</h1>

	<div class="puzzle-inner">
		<aside class="puzzle-side">
			<div class="side-element">
			<div>Status:
				{{ puzzle.get_status_display }}
				(blocked on {{ puzzle.get_blocker }})
			</div>
			<button type="button" class="toggle-show" data-target="change-status" data-rehide="Hide change status">Change Status</button>
			</div>
			<form method="POST" id="change-status" class="hidden side-element">
				{% csrf_token %}
				{% with puzzle.get_transitions as transitions %}
				{% if transitions %}
				<p>Suggested status changes:</p>
				<ul>
					{% for transition in puzzle.get_transitions %}
					<li>
						<button type="submit" name="change_status" value="{{ transition.status }}">
							{{ transition.description }}
						</button>
						(send to {{ transition.status_display }})
					</li>
					{% endfor %}
				</ul>

				<button type="button" class="toggle-show" data-target="all-statuses" data-rehide="Hide all status changes">Show all status changes</button>
				<ul id="all-statuses" class="hidden">
					{% for status in all_statuses %}
					<li>
						<button type="submit" name="change_status" value="{{ status.value }}">
							Send to {{ status.display }}
						</button>
					</li>
					{% endfor %}
				</ul>
				{% else %}
				<button type="button" class="toggle-show" data-target="all-statuses" data-rehide="Hide change status list">Change status</button>
				<ul id="all-statuses" class="hidden">
					{% for status in all_statuses %}
					<li>
						<button type="submit" name="change_status" value="{{ status.value }}">
							Send to {{ status.display }}
						</button>
					</li>
					{% endfor %}
				</ul>
				{% endif %}
				{% endwith %}
			</form>

			<form method="POST" id="change-priority" class="side-element">
				{% csrf_token %}
				{{ priority_form }}
				<input type="submit" name="change_priority" value="Change">
			</form>

			<h2 class="side-element">People
			</h2>
			<!-- sorry for copy-pasting code but I don't know how to generalize this (without losing greppability or doing some potentially nasty metaprogramming stuff) and I think there's some change we might make these forms all different later... -->
			<form method="POST" class="side-element">
				{% csrf_token %}
				<table class="puzzle-table puzzle-people">
					<tr>
						<th>Authors<br/>
							{% if is_author %}
							<input type="submit" name="remove_author" value="Remove me">
							{% else %}
							<input type="submit" name="add_author" value="Add me">
							{% endif %}
							<a href="{% url 'puzzle_people' puzzle.id %}" class="edit-link">edit</a>
						</th>
						<td>
							{% user_list puzzle.authors linkify=True %}
						</td>
					</tr>
					<tr>
						<th>Editors<br />
							{% if is_editor %}
							<input type="submit" name="remove_editor" value="Remove me">
							{% else %}
							<input type="submit" name="add_editor" value="Add me">
							{% endif %}
							<a href="{% url 'puzzle_people' puzzle.id %}" class="edit-link">edit</a>
						</th>
						<td>
							{% user_list puzzle.editors %}
						</td>
					</tr>
					<tr>
						<th>Factcheckers<br/>
							{% if is_factchecker %}
							<input type="submit" name="remove_factchecker" value="Remove me">
							{% else %}
							<input type="submit" name="add_factchecker" value="Add me">
							{% endif %}
							<a href="{% url 'puzzle_people' puzzle.id %}" class="edit-link">edit</a>
						</th>
						<td>
							{% user_list puzzle.factcheckers %}
						</td>
					</tr>
					<tr>
						<th>Postprodders<br/>
							{% if is_postprodder %}
							<input type="submit" name="remove_postprodder" value="Remove me">
							{% else %}
							<input type="submit" name="add_postprodder" value="Add me">
							{% endif %}
							<a href="{% url 'puzzle_people' puzzle.id %}" class="edit-link">edit</a>
						</th>
						<td>
							{% user_list puzzle.postprodders %}
						</td>
					</tr>
					<tr>
						<th>Spoiled<br />
							<a href="{% url 'puzzle_escape' puzzle.id %}">🏃</a>
							<a href="{% url 'puzzle_people' puzzle.id %}" class="edit-link">edit</a>
						</th>
						<td>{% user_list puzzle.spoiled %}
						</td>
					</tr>
				</table>
			</form>
		</aside>

		<main class="puzzle-main">
		<div>Answers: {% with puzzle.answers.all as answers %}{% if answers %}{{ answers|join:", " }}{% else %}<span class="empty">(none)</span>{% endif %}{% endwith %}
			(<a href="{% url 'puzzle_answers' puzzle.id %}">edit</a>)
		</div>
		<div>Tags:
			{% with puzzle.tags.all as tags %}
				{% if tags %}
				{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag.name }}{% endfor %}
				{% else %}
					<span class="empty">(none)</span>
				{% endif %}
			{% endwith %}
			(<a href="{% url 'puzzle_tags' puzzle.id %}">edit</a>)
		</div>

		<h2>Summary/Description <a href="{% url 'puzzle_edit' puzzle.id %}" class="edit-link">Edit</a></h2>
		<table class="puzzle-table puzzle-info">
			<tr><th>Summary</th><td>{{ puzzle.summary|markdown }}</td></tr>
			<tr><th>Description</th><td>{{ puzzle.description|markdown }}</td></tr>
			<tr><th>Notes</th><td>{{ puzzle.notes|markdown }}</td></tr>
		</table>

		<h2>Puzzle <button type="button" class="toggle-show" data-target="content-form" data-rehide="Hide editing">Edit</button></h2>
		<form method="post" id="content-form" class="hidden">
			{% csrf_token %}
			{{ content_form }}
			<input type="submit" name="edit_content" value="Submit">
		</form>
		{% if puzzle.has_postprod %}<b>Since the puzzle has been postprodded, <a href="https://FIXME.example.com/{{puzzle.postprod.slug}}/">the postprodded puzzle</a> should be used rather than this field.</b>{% endif %}
		{% if puzzle.content %}
		{{ puzzle.content|markdown }}
		{% else %}
		<div class="empty">(no puzzle yet)</div>
		{% endif %}
		<h2>Solution <button type="button" class="toggle-show" data-target="solution-form" data-rehide="Hide editing">Edit</button></h2>
		<form method="post" id="solution-form" class="hidden">
			{% csrf_token %}
			{{ solution_form }}
			<input type="submit" name="edit_solution" value="Submit">
		</form>
		{% if puzzle.has_postprod %}<b>Since the puzzle has been postprodded, <a href="https://FIXME.example.com/{{puzzle.postprod.slug}}/solution/">the postprodded solution</a> should be used rather than this field.</b>{% endif %}
		{% if puzzle.solution %}
		{{ puzzle.solution|markdown }}
		{% else %}
		<div class="empty">(no solution yet)</div>
		{% endif %}
		<h2>Postprod</h2>
		{% if puzzle.has_postprod %}
		Puzzle postprodded at <span class="timestamp" data-timestamp="{{puzzle.postprod.mtime.timestamp}}">{{puzzle.postprod.mtime}}</span>, file size {{puzzle.postprod.get_size}}. <a href="{% url 'postprod_zip' puzzle.id %}">Download zip file</a>.<br>
		Puzzle viewable at <a href="https://FIXME.example.com/{{puzzle.postprod.slug}}/">https://FIXME.example.com/{{puzzle.postprod.slug}}/</a>. It may take a few mintues to update after uploading here.
		<a href="{% url 'puzzle_postprod' puzzle.id %}">Upload a new version</a>
		{% else %}
		<div class="empty">(no postprod uploaded yet -
		<a href="{% url 'puzzle_postprod' puzzle.id %}">upload one now</a>)</div>
		{% endif %}
		<h2>Testsolve Sessions</h2>
		{% if testsolve_sessions %}
		<!-- this has fewer columns than the usual table -->
		<div class="table-wrap">
		<table class="classic sortable">
			<tr>
				<th>Session</th>
				<th>Participants</th>
				<th>Solved</th>
				<th>Ended</th>
				<th>Diff</th>
				<th>Fun</th>
				<th>Hours</th>
				{% if sheets_enabled %}
				<th>Sheet</th>
				{% endif %}
				<th>Notes</th>
			</tr>
			{% for session in testsolve_sessions %}
				{% with session.puzzle as puzzle %}
				<tr>
					<td sorttable_customkey="{{ session.id }}"><a href="{% url 'testsolve_one' session.id %}">Session {{ session.id }}</a></td>
					<td>{% user_list session.participants %}</td>
					<td>{% if session.has_correct_guess %}✅{% endif %}</td>
					<td>{{ session.get_done_participants_display }}</td>
					<td>{{ session.get_average_diff | floatformat }}</td>
					<td>{{ session.get_average_fun | floatformat }}</td>
					<td>{{ session.get_average_hours | floatformat }}</td>
					{% if sheets_enabled %}
					<td class="small-md">
						{% if session.spreadsheet_link %}
						<a href="{{ session.spreadsheet_link }}">Sheet</a>
						{% endif %}
					</td>
					{% endif %}
					<td class="small-md">{{ session.notes|markdown }}</td>
				</tr>
				{% endwith %}
			{% endfor %}
		</table>
		</div>
		{% else %}
		<div class="empty">(no testsolve sessions yet)</div>
		{% endif %}

			{% comment_list request.user puzzle comments comment_form True True %}
		</main>
	</div>
</div>

{% endblock %}

{% block extrajs %}
{% if enable_keyboard_shortcuts %}
<script>
document.onkeydown=nextpage;
function nextpage(e){
	var event = document.all ? window.event : e;
	if (!/^(?:input|textarea|select|button)$/i.test(e.target.tagName)) {
		// on press "j", go to the next puzzle unread
		if (event.keyCode == 74)  {% if next_unread_puzzle_id %}location="{% url 'puzzle' next_unread_puzzle_id %}"; {% else %}alert("You have no more unread spoiled puzzles.");{% endif%}

		// on press "h", go home
		if (event.keyCode == 72)  location="{% url 'index' %}";

		// on press "m", scroll to the bottom of the page
		if (event.keyCode == 77) window.scrollTo(0,document.body.scrollHeight);
		// on press "n", scroll to the top of the page
		if (event.keyCode == 78) window.scrollTo(0,0);
		// on press "?", show help
		if (event.keyCode == 191) alert("'j' to go to your next unread puzzle. 'm'/'n' to go to the bottom/top of the page. 'h' for home.");
	}
}
</script>
{% endif %}
{% endblock %}
