{% extends "base.html" %}
{% block title %}
	{{ puzzle.spoiler_free_title }} / Answers
{% endblock %}
{% block main %}
<h1>Tag {{ puzzle }}</h1>
<a href="{% url 'puzzle' puzzle.id %}">🔙 to {{ puzzle }}</a>
<a href="{% url 'tags' %}">View/edit all tags</a>
{% if spoiled %}
<form method="post">
	{% csrf_token %}
	{% for field in form %}
		{{ field }}
	{% endfor %}
	<input type="submit" value="Submit">
</form>
{% else %}
<p>You are not spoiled on this puzzle. I'm not sure you want to be assigning tags to it.</p>
<p>If you really want to, you can click back to it and spoil yourself.</p>
{% endif %}
{% endblock %}
