{% extends "base.html" %}
{% load user_list %}
{% load comment_list %}
{% load markdown %}
{% load upload_url %}
{% block title %}
	Testsolving {{ session.puzzle }}
{% endblock %}
{% block main %}
<h1>
	Testsolving ({% if spoiled %}<a href="{% url 'puzzle' session.puzzle.id %}">{{ session.puzzle }}</a>{% else %}{{ session.puzzle }}{% endif %}, Session #{{ session.id }})</p>
</h1>

<p>Participants:</p>
<table class="classic sortable">
<tr><th>User</th><th>Fun rating</th><th>Difficulty rating</th><th>Hours spent</th><th>Done?</th></tr>
{% for participation in session.participations.all %}
<tr>
	<td>{{ participation.user.username }}</td>
	<td>{{ participation.fun_rating|default:"n/a" }}</td>
	<td>{{ participation.difficulty_rating|default:"n/a" }}</td>
	<td>{{ participation.hours_spent|default_if_none:"n/a" }}</td>
	<td>{% if participation.ended %}done{% endif %}</td>
</tr>
{% endfor %}
</table>

{% if participation or spoiled %}

<p>Session notes <button type="button" class="toggle-show" data-target="notes-form" data-rehide="Hide editing">Edit</button></p>
<form method="POST" id="notes-form" class="hidden">
	{% csrf_token %}
	{{ notes_form }}
	<input type="submit" name="edit_notes" value="Submit">
</form>
{{ session.notes|markdown }}

{% if participation %}

{% if spoiled %}
<p class="warning">You are testsolving a puzzle you are spoiled on.</p>
{% else %}
<p>You are in this testsolving session.</p>
{% endif %}

{% if participation.ended %}
<p class="warning">You finished this testsolve at {{ participation.ended }}</p>
{% endif %}

{% if session.joinable %}
<form method="POST">
	{% csrf_token %}
	<p>This session is listed as joinable by other solvers.
	<button type="submit" name="change_joinable" value="0">Set as non-joinable</button>
	</p>
</form>
{% else %}
<form method="POST">
	{% csrf_token %}
	<p>This session is not listed as joinable by other solvers.
	<button type="submit" name="change_joinable" value="1">Set as joinable</button>
	</p>
</form>
{% endif %}

{% if not answers_exist %}
<p class="warning">No answers have been assigned to this puzzle in Puzzlord, so the answer checker will not mark any answers as correct.</p>
{% endif %}

<form method="POST">
	{% csrf_token %}
	{{ guess_form }}
	<input type="submit" name="do_guess" value="Guess">
</form>

<p><a href="{% url 'testsolve_finish' session.id %}" class="testsolve-finish{% if session.has_correct_guess and not participation.ended %} testsolve-finish-correct{% endif %}">Done with the puzzle?</a> (You can confirm and leave feedback after clicking the link)</p>

{% else %}
<p>You are spoiled on {{ session.puzzle }}.</p>
{% endif %}

{% if guesses %}
Past guesses:
<ul>
	{% for guess in session.guesses.all %}
	<li>
		<span class="guess {% if guess.correct %}correct{% else %}incorrect{% endif %}">
			{{ guess.guess }}
		</span>
		<span class="date">guessed by {{ guess.user }} @ <span class="timestamp" data-timestamp="{{ guess.date.timestamp }}">{{ guess.date }}</span></span>
	</li>
	{% endfor %}
</ul>
{% endif %}

<h2>Puzzle</h2>
{% if session.puzzle.has_postprod %}<b>Since the puzzle has been postprodded, <a href="https://postprod.hidden.institute/pppzzlvwr21/{{session.puzzle.postprod.slug}}/">the postprodded puzzle</a> should be used rather than this field.</b>{% endif %}
{% if session.puzzle.content %}
{{ session.puzzle.content|markdown }}
{% elif session.puzzle.uploaded_content %}
Link to puzzle content: <a href="{{ session.puzzle.uploaded_content|upload_url }}" target="_blank">{{ session.puzzle.uploaded_content|upload_url }}</a>
{% else %}
<div class="empty">(no puzzle yet)</div>
{% endif %}

{% comment_list request.user session.puzzle comments comment_form False False %}
{% else %}
<p class="alert">You are neither participating in this testsolving session nor spoiled on the puzzle. Would you like to join this session?</p>
<form method="POST">
	{% csrf_token %}
	<input type="submit" name="join" value="Join testsolving session">
</form>
{% endif %}
{% endblock %}
