{% extends "base.html" %}
{% load markdown %}
{% block title %}
Users
{% endblock %}
{% block main %}
	<h1>Users</h1>
	<p>* "Active" means any status other than Deferred, Dead, or Done. See also <a href="{% url 'users_statuses' %}">Users &times; Statuses</a>, more detailed <a href="{% url 'editors' %}">Editors + Editing Puzzles</a></p>
	<div class="table-wrap">
	<table class="classic sortable">
		<thead>
		<tr>
			<th colspan="2"></th>
			<th colspan="4">Authored</th>
			<th colspan="4">Editing</th>
			<th colspan="4">Factchecking</th>
			<th colspan="2">Testsolving</th>
		</tr>
		<tr>
			<th>User</th>
			<th>Role</th>
			<th>Active*</th><th class="deemph">Deferred</th><th class="deemph">Dead</th><th class="deemph">Done</th>
			<th>Active*</th><th class="deemph">Deferred</th><th class="deemph">Dead</th><th class="deemph">Done</th>
			<th>Active*</th><th class="deemph">Deferred</th><th class="deemph">Dead</th><th class="deemph">Done</th>
			<th>Done</th><th>In Progress</th>
		</tr>
		</thead>
		<tbody>
		{% for user in users %}
		<tr>
			<td><a href="{% url 'user' user.username %}">{{ user.full_display_name }}</a></td>
			<td>
				{% if user.is_staff %}
				Superuser
				{% elif user.is_meta_editor %}
				Meta Editor
				{% endif %}
			</td>
			<td>{{ user.authored_active }}</td>
			<td class="deemph">{{ user.authored_deferred }}</td>
			<td class="deemph">{{ user.authored_dead }}</td>
			<td class="deemph">{{ user.authored_done }}</td>
			<td>{{ user.editing_active }}</td>
			<td class="deemph">{{ user.editing_deferred }}</td>
			<td class="deemph">{{ user.editing_dead }}</td>
			<td class="deemph">{{ user.editing_done }}</td>
			<td>{{ user.factchecking_active }}</td>
			<td class="deemph">{{ user.factchecking_deferred }}</td>
			<td class="deemph">{{ user.factchecking_dead }}</td>
			<td class="deemph">{{ user.factchecking_done }}</td>
			<td>{{ user.testsolving_done }}</td>
			<td>{{ user.testsolving_in_progress }}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	</div>

	{% for user in users %}
	<div id="user-{{ user.username }}">
		<a href="{% url 'user' user.username %}">
			<h2>{{ user.profile.display_name|default:user.username }}</h2>
		</a>
		<ul>
			<li>Username: {{ user.username }}</li>
			{% if user.profile %}
			{% if user.profile.discord_username %}
			<li>Discord: <code>{{ user.profile.discord_username }}</code></li>
			{% endif %}
			{% if user.profile.bio %}
			<li>Bio:
				{{ user.profile.bio|markdown }}
			</li>
			{% endif %}
			{% endif %}
		</ul>
	</div>
	{% endfor %}
{% endblock %}
